# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env & Secrets
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/

# Certificados y archivos de seguridad
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.jks
*.keystore
certificates/
certs/
ssl/
keys/